.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}

.siteName {
    flex: 1;
}

.banner {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
}
.productListContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}
