.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 40px;
}

.productCard {
    border: 1px solid #d0d0d0;
    color: black;
    display: grid;
    justify-content: center;
}

.saleTag {
    background: black;
    color: white;
    position: absolute;
    padding: 10px 30px;
}

.productDetails {
    display: flex;
    gap: 20px;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.productImage {
    width: 200px;
}

@media screen and (max-width: 560px) {
    .productContainer {
        grid-template-columns: 1fr;
    }

    .productCard {
        border: 1px solid black;
    }
}

@media screen and (min-width: 560px) and (max-width: 1024px) {
    .productContainer {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .productContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
